<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vincent.pmsdemo.mapper.BusOrderMapper">

        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="com.vincent.pmsdemo.entity.BusOrder">
                    <id column="id" property="id" />
                    <result column="order_code" property="orderCode" />
                    <result column="user_id" property="userId" />
        </resultMap>

        <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
            id, order_code, user_id
        </sql>

</mapper>
